<!DOCTYPE html>
<html>

  {{> head }}

  <body>

    <section class="Narcisa-grid">
      <section class="Narcisa-header">

        {{> box_profile_picture }}

        <section class="Narcisa-header--right">
          {{> box_social_networks }}

          {{> box_about }}
        </section>

      </section>

      <section class="Narcisa-info">
        <section class="Narcisa-info--left">
          {{> box_twitter }}
        </section>

        <section class="Narcisa-info-middle">
          {{> box_projects }}

          {{> box_video }}
        </section>

        <section class="Narcisa-info-right">
          {{> box_spotify }}

          {{> box_monster }}

          {{> box_tour_dates }}
        </section>
      </section>

      <section class="Narcisa-info">
      </section>

    </section>
  </body>

</html>
