<!DOCTYPE html>
<html>

  {{> head }}

  <body>

    <section class="Narcisa-grid">
      
      {{> box_social_networks }}

      {{> box_about }}

      {{> box_monster }}
      
    </section>

  </body>

</html>
