<!DOCTYPE html>
<html>

  {{> head }}

  <body>

    {{> header }}

    <section class="pk-bdr-l-all pk-bdr-purple600">
      {{> about }}

      {{> projects }}

      {{> talks }}

      {{> contact }}
    </section>
  </body>

</html>
