---
layout: layouts/home.njk
title: Home
eleventyNavigation:
  key: Home
  order: 1
---

<header class="home-header">
  <section>
    <h1>Elena Torró</h1>
    <p>Hi, this is Elena 👋</p>
    <p>I'm a Full-Stack Software Engineer born in Murcia, a Region in Spain where you can find delicious lemons and beautiful arid landscapes</p>
    <p>I love building tech tools others can use, and that's one of the reasons why I've worked at SaaS technical products such as <a href="https://tinybird.co" target="_blank">Tinybird</a> and <a href="https://carto.com" target="_blank">CARTO</a></p>
    <p>I'm currently working at Kaleidos, the company behind <a href="https://penpot.app" target="_blank">Penpot</a>, a web-based open-source design tool that bridges 
the gap between designers and developers.</p>
    <p>I practice karate and indoor climbing several days a week, and I also enjoy paddle surfing when the weather permits</p>
  </section>
  <aside class="home-header-profile-image-container">
    <img class="home-header-profile-image" src="/img/profile.jpg">
  </aside>
</header>
