---
layout: layouts/home.njk
title: Home
eleventyNavigation:
  key: Home
  order: 1
---

<section class="home">
  <article>
    <h1>Elena Torró</h1>
    <p>Hi, this is Elena 👋</p>
    <p>I'm a Full-Stack Software Engineer born in Murcia, a Region in Spain where you can find delicious lemons and beautiful arid landscapes</p>
    <p>I love building tech tools others can use, and that's one of the reasons why I've worked at SaaS technical products such as <a href="https://tinybird.co" target="_blank">Tinybird</a> and <a href="https://carto.com" target="_blank">CARTO</a></p>
    <p>I currently practice karate and indoor climbing several days a week, and I also enjoy paddle surfing when the weather permits</p>
  </article>
  <aside class="home-profile-image-container">
    <img class="home-profile-image" src="/img/profile.jpg">
  </aside>
</section>
