<!DOCTYPE html>
<html>

  {{> head }}

  <body>

    <div class="Narcisa-card-background"></div>
    
    <section class="Narcisa-grid">
      {{> box_profile_picture }}

      {{> box_social_networks }}

      {{> box_about }}

      {{> box_monster }}
      
    </section>

  </body>

</html>
