---
layout: layouts/home.njk
permalink: /principal/
---

<h1 class="">Elena Torró</h1>

<h2>esto es solo otra web personal, no hay que tomársela en serio</h2>
<sub><a href="/">read it in English</a></sub>

<section class="home">
  <p>Hola, soy Elena 👋</p>
  <p>Soy una ingeniera multimedia nacida en Murcia, un lugar en el sur de España donde puedes encontrar deliciosos limones 🍋 y preciosos y áridos paisajes ⛰️</p>
  <p>Me encanta programar herramientas que otros puedan utilizar, y esa es una de las razones por las que estoy currando con los pajarillos de <a href="https://tinybird.co" target="_blank">Tinybird</a>🐥</p>

  <p>Tengo un proyecto con mis amigas que se llama <a href="https://droidsanddruids.com/" target="_blank">Droids and Druids</a> 🤖💓🧙‍♀️, donde hablamos de literatura, películas, cómicos, videojuegos, etc... de ciencia ficción, fantasía y terror.</p>

  <p>Me gustan los deportes acuáticos, en especial el paddle surf 🏄, practico karate 🥋, toco algo el piano 🎶, me flipa (intentar) resolver acertijos (¡y crearlos!) 🧩, y además, escribo ☄️ historias🛸 en mi blog <a href="https://escritopor.elenatorro.com" target="_blank">escritopor.elenatorro.com</a></p>
</section>
