---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
    - proyecto
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---

<div class="article-content">
  <h1 class="capitalize">{{ tag }}</h1>

  <a href="{{ '/tags/' | url }}">All tags</a>
</div>