@font-face {
  font-family: 'Open Sans';
  src: url('../../assets/styles/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'EB_Garamond';
  src: url('../../assets/styles/fonts/EB_Garamond/EBGaramond-Regular.ttf') format('truetype');
}
