.Narcisa-list--star {
  li:before {
    padding-right: .5em;
    content: "\2605";
  }
}

.Narcisa-list--star-emoji {
  li:before {
    padding-right: .5em;
    content: "⭐";
  }
}

.Narcisa-list--microphone-emoji {
  li:before {
    padding-right: .5em;
    content: "🎤";
  }
}
