	/*
  	Flaticon icon font: Flaticon
  	Creation date: 25/03/2016 15:57
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 1em;
font-style: normal;
margin-left: 20px;
}

.flaticon-circle:before { content: "\f100"; }
.flaticon-circle-1:before { content: "\f101"; }
.flaticon-screen:before { content: "\f102"; }
.flaticon-shapes:before { content: "\f103"; }
.flaticon-social:before { content: "\f104"; }
.flaticon-social-media:before { content: "\f105"; }
.flaticon-social-media-1:before { content: "\f106"; }
.flaticon-social-media-2:before { content: "\f107"; }
.flaticon-social-media-3:before { content: "\f108"; }
.flaticon-square:before { content: "\f109"; }
.flaticon-web:before { content: "\f10a"; }
.flaticon-window:before { content: "\f10b"; }