.cover-background {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.cover-avatar {
  background-image: url('../../images/elenatorro.png');
}

.cover-about {
  background-image: url('../../images/elenatorro_happy.png');
}

.cover-portfolio {
  background-image: url('../../images/elenatorro_about.png');
}

.cover-talks {
  background-image: url('../../images/elenatorro_talks.png');
}

.cover-background-right {
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 40%; }
}

.main-container {
  z-index: 2;
}

.main-title{
  opacity: 1;
}

.separate {
  padding: 20px;
}

/*NAV LINKS*/
a.main-logo {
  color: #6600FF;
  float: left;
  display: inline-block;
  vertical-align: middle;
  margin-top: 20px; }

a:hover.main-logo {
  color: #6600FF; }

.social-icons > a {
  color: #ddd; }

.social-icons > a:hover {
  color: white; }

header.main-header nav > a {
  color: #E6E6E6; }

header.main-header nav > a:hover {
  color: #efb70a; }

.horizontal-nav > ul > li > a {
  color: #6600FF;
  text-align: center; }

.horizontal-nav > ul > li > a:hover {
  color: #6600FF; }

/*GENERAL LISTS*/
/*NAV LIST*/
nav.horizontal-nav > ul {
  float: right;
  right: 30px;
  margin-right: 20px;
  display: table;
  width: 20%; }

nav.horizontal-nav > ul > li {
  display: table-cell;
  color: white;
  font-family: "Helvetica"; }

header.main-header nav {
  background-color: #248F8D;
  display: table;
  margin-bottom: 100px;
  opacity: 0.9;
  position: fixed;
  text-align: right;
  width: 100%;
  z-index: 100; }

header.main-header nav > a {
  color: white;
  display: inline-block;
  margin: 0px;
  padding: 15px;
  background-color: #248F8D; }

header.main-header nav > a:hover {
  background-color: #79B5AC;
  color: white; }

#main-link {
  float: left; }

@media screen and (max-width: 600px) {
  .page-title {
    font-size: 2.5em; }
  .page-text-title {
    font-size: 2em; }
  header.main-header nav {
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 0px; }
  header.main-header nav > a {
    display: inline-block;
    padding: 10px 0;
    width: 100%; } 

  .cover-background-right {
    background-size: 80%; 
  }

  .blue7 {
    background-color: rgba(46, 184, 230, 0.80)
  }
  }

article.main-content {
  background-color: transparent;
  margin: 0 auto 0 auto;
  text-align: center;
  width: 100%; }

.main-container {
  background-color: rgba(121, 181, 172, 0.7);
  text-align: center;
  color: white;
  min-height: 100%; }
  .main-container > .grid.group > .col {
    margin-top: 15%; }


article.main-title {
  display: block;
  text-align: center; }

.portfolio-list {
  font-size: 24px;
  line-height: 50px;
}

.orange6 {
  background-color: rgba(255, 102, 0, 0.85);
}

.lime7 {
  background-color: rgba(122,204,41,0.85);
}

.purple7 {
  background-color: rgba(163, 25, 209, 0.75);
}

.portfolio-list {
  padding: 10px;
}
.portfolio-list > li > p {
  font-size: 15px;
  line-height: 20px
}

.tags {
  padding: 5px;
  font-size: 14px;
}

hr {
  border-width: 1px;
  border-style: solid;
}
