@import '../../bower_components/allineed/src/main.scss';
@import '../../bower_components/allineed-panel-info/ain-panel-info.scss';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

// Custom

h1 {
  font-size: 8em;
}

h2 {
  font-size: 3em;
}

.ain-navbar-list {
  > li {
    display: inline-block;
  }
}

.ain-panel-info-header {
  height: 500px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.5em;
  }
}
