.Narcisa-box {
  background-color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 1em;
  width: 100%;

  a {
    &:hover {
      color: #00dd00;
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    margin: .5em 0;
  }
}

.Narcisa-box-monster {
  border: none;
  display: block;

  p {
    text-align: center;
  }
}

.Narcisa-box-video {
  iframe {
    display: block;
    width: 100%;
    min-height: 320px;
  }
}

.Narcisa-box-profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;

  .Narcisa-box-profile-picture--image {
    background-image: url('/assets/images/elenatorro_profile.png');
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }
}

.Narcisa-box-about {
  display: grid;
  align-items: center;
  font-size: 2em;
  padding: .5em;

  p {
    margin: .5em auto;
  }
}

.Narcisa-box-social-networks {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
}

.Narcisa-box-spotify {
  iframe {
    box-sizing: border-box;
    display: block;
    height: 80px;
    margin: 0 auto;
    margin: 0;
    width: 100%;
  }
}

.Narcisa-box-tour-dates {
}

.Narcisa-box-instagram {
  iframe {
    border: none !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 900px) {
  .Narcisa-box {
    display: block;
  }

  .Narcisa-box-social-networks {
    text-align: left;
  }

  .Narcisa-box-instagram {
    text-align: center;

    iframe {
      max-width: 300px !important;
    }
  }

  .Narcisa-box-video {
    iframe {
      margin: 2em auto;
    }
  }

  .Narcisa-box-twitter {
    text-align: center;

    iframe {
      max-width: 300px !important;
      margin: 0 auto !important;
    }
  }

  .Narcisa-box-profile-picture {
    display: flex;
    height: 200px;
    width: 200px;
    margin: 1.5em auto 2.5em auto;
  }
}
