.Narcisa-grid {
  display: grid;
  grid-template-rows: auto;
  padding: 1em;
  max-width: 900px;
  margin: 0 auto;
}

.Narcisa-header {
  display: grid;
  grid-template-columns: 200px auto;
}

.Narcisa-header--right {
  display: grid;
  grid-template-rows: none;
}


.Narcisa-info {
  display: grid;
  grid-template-columns: 30% 40% 30%;
}

.Narcisa-info--left {
  display: grid;
  grid-template-rows: auto;
}

.Narcisa-info--middle {
  display: grid;
  grid-template-rows: 40% 50%;
}

.Narcisa-info--right {
  display: grid;
  // grid-template-rows: 20% auto;
  grid-template-rows: 130px 15% 50%;
}


@media (max-width: 900px) {
  .Narcisa-grid,
  .Narcisa-header,
  .Narcisa-header--right,
  .Narcisa-info,
  .Narcisa-info-left {
    display: block;
  }
}
