.Narcisa-grid {
  display: grid;
  grid-template-rows: auto;
  padding: 1em;
  max-width: 900px;
  margin: 5em auto 0 auto;
}

.Narcisa-header {
  display: grid;
  grid-template-columns: 200px auto;
}

.Narcisa-header--right {
  display: grid;
  grid-template-rows: none;
}


.Narcisa-info {
  display: grid;
  grid-template-columns: 30% 40% 30%;
}

.Narcisa-info--left {
  display: grid;
  grid-template-rows: auto;
}

.Narcisa-info--middle {
  display: grid;
  grid-template-rows: 40% 50%;
}

.Narcisa-info--right {
  display: grid;
  grid-template-rows: 130px 15% 50%;
}

.Narcisa-card-background {
  background-color: #272822;
  background-image: url("/assets/images/to-do-large.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

@media (max-width: 600px) {
  .Narcisa-card-background {
    background-position: 20px -10px;
    height: 200px;
    background-size: 500px;
  }
}

@media (max-width: 900px) {
  .Narcisa-grid,
  .Narcisa-header,
  .Narcisa-header--right,
  .Narcisa-info,
  .Narcisa-info-left {
    display: block;
  }
}
