<section class="Narcisa-box Narcisa-box-about">
  <p>Multimedia Engineer born in Murcia, a Region in Spain where you can find delicious lemons and beautiful arid landscapes. I love experimenting with web technologies, that's one of the reasons why I've joined the frontend team at <a href="https://carto.com" target="_blank">CARTO</a> 🌍. I also enjoy water sports, playing the ukelele and writing science fiction stories, between others. While trying not to spend too much time on the Internet, I'm always seeking for new activities and adventures.</p>
</section>
