<section class="Narcisa-box Narcisa-box-current-projects">
  <h2>I'm currently working on</h2>

  <ul class="Narcisa-list--star-emoji">
    <li><a href="https://github.com/elenatorro/e-journal" targer="_blank">e-Journal</a>: A system that helps me finishing online courses.</li>
    <li><a href="https://salsajobs.com" targer="_blank">Salsa Jobs</a>: A Slack bot that gathers job offers.</li>
    <li>Byte The Humans: A collection of six science-fiction stories (August 2018)</li>
  </ul>
</section>
