<section class="Narcisa-box Narcisa-box-twitter">
  <h2>Latest things I tweeted</h2>
  <a class="twitter-timeline"
    href="https://twitter.com/bytesandhumans"
    data-show-replies="false"
    data-tweet-limit="3"
    data-theme="light"
    data-chrome="noheader nofooter"
    data-height="600">
  </a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</section>
