<head>
  <!-- Common -->
  <meta charset="utf-8">
  <title>Elena Torro</title>
  <!-- Search Engine -->
  <meta name="description" content="This is Elena Torro's personal website.">
  <!-- Schema.org -->
  <meta itemprop="name" content="Elena Torro">
  <meta itemprop="description" content="This is Elena Torro's personal website.">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Elena Torro">
  <meta name="twitter:description" content="This is Elena Torro's personal website.">
  <meta name="twitter:site" content="@eletorro">
  <meta name="twitter:creator" content="@eletorro">
  <meta name="twitter:image:src" content="https://elenatorro.github.io/assets/images/elenatorro.jpg">
  <!-- Open Graph general -->
  <meta name="og:title" content="Elena Torro">
  <meta name="og:description" content="This is Elena Torro's personal website.">
  <meta name="og:image" content="https://elenatorro.github.io/assets/images/to-do.png">
  <meta name="og:url" content="https://elenatorro.github.io/">
  <meta name="og:site_name" content="Elena Torro">
  <meta name="og:type" content="website">
  <link rel="stylesheet" href="./assets/styles/dependencies/hover.min.css">
  <link rel="stylesheet" href="./assets/styles/dependencies/phoenix-toolkit.min.css">
  <link rel="stylesheet" href="./build/assets/style.css">
  <link rel="shortcut icon" href="./assets/images/favicon.ico">
</head>