<<<<<<< HEAD
<header class="pk-bg-purple500 et-header">
  <nav class="pk-nav pk-nav-fxd pk-bg-purple500 pk-bdr-l-l pk-bdr-l-r pk-bdr-transparent">
=======
<header class="pk-bg-purple600 et-header">
  <nav class="pk-nav pk-nav-fxd pk-bg-purple600">
>>>>>>> gh-pages
    <ul class="pk-nav-link-list pk-nav-link-list-r">
      <li><a class="pk-nav-link pk-bg-hv-orange500" href="#">Main</a></li>
      <li><a class="pk-nav-link pk-bg-hv-red800" href="#about">About</a></li>
      <li><a class="pk-nav-link pk-bg-hv-blue600" href="#projects">Projects</a></li>
      <li><a class="pk-nav-link pk-bg-hv-blue600" href="#talks">Talks</a></li>
      <li><a class="pk-nav-link pk-bg-hv-green600" href="#contact">Contact</a></li>
    </ul>
  </nav>

  <section class="pk-grid pk-pdd-l-all pk-f-white">
    <section class="pk-col pk-pdd-l-lr et-title">
<<<<<<< HEAD
      <h1>Hello <span class="hvr-buzz">👋</span> I'm Elena Torro, a software developer <span class="hvr-bounce-in">💻</span> with a passion for technology.</h1>
=======
      <h1>Hello <span class="hvr-buzz">👋</span> I'm Elena Torro, a software developer with a passion for technology.</h1>
>>>>>>> gh-pages
    </section>
  </section>
</header>
