<section class="pk-pdd-l-all" id="talks">
  <h2 class="pk-pdd-l-all">Talks 🎤</h2>

  <section class="pk-grid">
    <section class="pk-col pk-6 pk-pdd-l-lr">
      <ul class="pk-list">
        <li class="pk-pdd-m-tb">Introduction to UX (GDG Murcia 2014)</li>
        <li class="pk-pdd-m-tb">AngularJS & Ruby on Rails (Betabeers Murcia 2015)</li>
        <li class="pk-pdd-m-tb">UX & Agile (Agile Alicante 2015)</li>
        <li class="pk-pdd-m-tb">User Interfaces through the Ages (Codemotion 2015)</li>
        <li class="pk-pdd-m-tb">MIDI & Redux (Murcia FrontEnd 2017)</li>
        <li class="pk-pdd-m-tb">Redux through music (JSDayES 2017)</li>
      </ul>
    </section>
  </section>
</section>
