$monster-color: #731fbd;
$monster-horn-color: #00dc24;

.monster {
  width: 200px;
  height: 200px;
  background-color: $monster-color;
  border-radius: 50% 50% 10% 10%;
  position: relative;
  margin: 2.5em auto 1em auto;
}

.horn {
  width: 30px;
  height: 30px;
  background-color: $monster-horn-color;
  position: absolute;
  border-radius: 0 0 50% 50%;
  top: 20px;
  box-shadow: 0 5px 0 darken($monster-color, 20%);
  background-size: 10px;
  background-image:
      linear-gradient(0deg, darken($monster-horn-color, 5%) 5px, transparent 0);
  background-repeat: repeat;
}

.horn.horn-left {
  left: 20px;
  transform: rotate(-45deg);
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-left: 30px solid darken($monster-horn-color, 5%);
    border-radius: 100% 0 0 0;
    bottom: 30px;
  }

}

.horn.horn-right {
  right: 20px;
  transform: rotate(45deg);

    &:before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-left: 30px solid darken($monster-horn-color, 5%);
    border-radius: 0 0 0 100%;
    bottom: 30px;
    right: 0;
    transform: rotate(180deg);
  }
}

.eyes {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  padding: 60px 0 10px 0;
}

.eye {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: yellow;
  margin: 0 15px;
  position: relative;
  border-bottom: 10px solid darken($monster-color, 10%);
}

.eye.eye-medium::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 25px;
  border-radius: 100px 100px 0 0;
  background-color: darken($monster-color, 15%);
  top: 0;
  left: 0;

  animation: closeEyes 3s infinite;
}

.eye.eye-closed::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100px 100px 0 0;
  background-color: darken($monster-color, 15%);
  top: 0;
}

.eye::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  top: 20px;
  left: 20px;
}

.mouth {
  background-color: darken($monster-color, 30%);
  width: 150px;
  height: 50px;
  margin: 0 auto;
  border-radius: 25% 25% 50% 50%;
  position: relative;
}

.mouth:before {
  content: '';
  position: absolute;
  width: 80px;
  height: 20px;
  background-color: red;
  bottom: -1px;
  border-radius: inherit;
  left: 35px;
}

.mouth:after {
  content: '';
  position: absolute;
  width: 150px;
  height: 50px;
  background-color: transparent;
  background-size: 30px 100%;
  background-image:
    linear-gradient(45deg, yellow 10px, transparent 0),
    linear-gradient(-45deg, yellow 10px, transparent 0),
    linear-gradient(135deg, yellow 10px, transparent 0),
    linear-gradient(-135deg, yellow 10px, transparent 0);
  background-repeat: repeat;
  border-radius: inherit;
}

@keyframes closeEyes {
  0% {
    height: 25px;
  }

  5% {
    height: 40px;
  }

  7% {
    height: 25px;
  }

  9% {
    height: 40px;
  }

  11% {
    height: 25px;
  }
}
